@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap" rel="stylesheet');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
    width: 100%;
} */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

nav {
  background-color: #000000;
  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
nav h3 {
  font-size: 1.5;
  font-weight: 900;
  text-transform: uppercase;
}
nav li {
  display: inline-block;
  padding-right: 0.5rem;
  text-decoration: none;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 15px;
}
nav li a:hover {
  background-color: #ce0f3d;
}
nav li:last-child {
  padding-right: 0;
}

main {
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noticia {
  width: 100%;
  max-width: 300px;
}
.noticia .cabecera {
  width: 100%;
}
.noticia .cuerpo {
  width: 100%;
}
.noticia__img {
  background-image: url("https://picsum.photos/200/300?random=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

@media (min-width: 768px) {
  .noticia {
    width: 30%;
    max-width: 300px;
  }
  .noticia__img {
    width: 100%;
    height: 300px;
  }
}
.contenedor {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  width: 90%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* COLUMNAS */
/* Smartphone */
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .contenedor {
    width: 540px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .contenedor {
    width: 750px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 970px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1170px;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}

aside {
  background-color: #ffcc00;
  padding: 10px 20px;
}

.tags {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.aside__tags {
  color: #ffffff;
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  margin-bottom: 20px;
}
.aside__tags-link {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 1px solid #1e1b1b;
  text-align: center;
  width: 170px;
  padding: 5px 0px;
}
.aside__tags-link:hover {
  background-color: #ce0f3d;
  border-bottom: 1px solid #ce0f3d;
}

.newsletter {
  text-align: center;
  background-color: #ce0f3d;
  padding: 40px 0px;
}

.newsletter h2 {
  font-size: 24px;
}

.newsletter p {
  color: #ffffff;
}

.group button {
  background-color: #ffcc00;
  color: #000000;
  padding: 4px 7px;
}

.group input {
  height: 22px;
}

@media (min-width: 768px) {
  .newsletter {
    text-align: center;
    background-color: #ce0f3d;
  }
}

/*# sourceMappingURL=style.css.map */
