nav {
    background-color: #000000;
    color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    h3 {
        font-size: 1.5;
        font-weight: 900;
        text-transform: uppercase;
    }

    li {
        display: inline-block;
        padding-right: 0.5rem;
        text-decoration: none;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 0.8rem;
            padding: 15px;

            &:hover {
                background-color: #F08080;
            }
        }

        &:last-child {
            padding-right: 0;
        }


    }
}


