aside {
  background-color:#ffcc00;
  padding: 10px 20px;
}

.tags {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.aside__tags {
  color: #ffffff;
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  margin-bottom: 20px;

  &-link {
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid #1e1b1b;
    text-align: center;
    width: 170px;
    padding: 5px 0px;

    &:hover {
      background-color: #ce0f3d;
      border-bottom: 1px solid #ce0f3d;
    }
  }
}